{% for script in site.assets.scripts %}
  <script type="text/javascript" src="{{script}}" async></script>
{% endfor %}

<script type="text/javascript" src="{{ "/assets/javascript/main.js" | relative_url }}" async></script>

<script defer type="text/javascript" src="{{ "/assets/javascript/packs/brands.min.js" | relative_url }}" async></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway']
    }
  });
</script>
