<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {% for script in site.assets.scripts %}
      <script type="text/javascript" src="{{script}}" async></script>
    {% endfor %}

    <script type="text/javascript" src="{{ "/assets/javascript/photo_swipe.js" | relative_url }}" async></script>

  </body>

</html>
